.dp{

    width: 20rem;
    
    
}

.about{
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    /* height: 95vh; */
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about li {
    list-style-type: square;
    margin: 1rem;
    font-size: 2rem;
}

.about h2{
    margin: 1rem;
}



.dp img{

     width:100% ;
     height: auto;
   
}