.map{

    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    /* flex-direction: column; */
   /* height:100vh; */
   justify-content: space-evenly;
   align-items: center;
   
}

.map iframe{
    min-width: 30rem;
    /* max-height: 30rem; */
    border-color: tomato;
    border-width: 1px;
    border-radius: 5%;
    min-height: 30rem;
}

.formData{

  display: flex;
  flex-direction: column;
  justify-content: center;
min-width: 30rem;
min-height: 30rem; 
background-color: g;
}
.formData input{
    margin-bottom:1rem;
}

.valid{

    color: green;
}

.invalid{
    color:red;
}