.home {
    
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* align-items: center; */
    background-image: url('/public/images/cover-v3.jpeg');
    background-size: cover;

    background-repeat: no-repeat;
    width:100%;
    height:100vh ;
    color:white;
    font-size: 2rem;
}

.userDetails{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    background: linear-gradient(45deg, black, transparent); 
    
    
}

.userDetails li {
    list-style-type: none;
}

.home h1,h2,p{
    margin: 0;
    color: rgb(237, 239, 241);
    
    

}

