

 nav{
    background-color: rgba(0, 0, 0,80%);

   
    
}
 .navBar {
    display: flex;
   
    justify-content: space-evenly;
    min-height: 3rem;
    align-items: center; 
    margin:0;
    

}


.navBar li {
    list-style-type: none;
    
}
a {
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    font-weight: 500;
}